

body,html{
  overflow-x:hidden;
}
body {
font-family: 'Merriweather', serif;
  overflow-x: hidden !important;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{ 
  text-decoration: none;
  color: #2f2f2f;
  
}
a:focus{
  outline: none;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Varela', sans-serif;	
}

h2 {
  color: #313338;  
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px;  
}
img{
 border:none;
}

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#000; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(img/status.GIF); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*scrol to top*/

.scrollToTop {
  background: url("img/bootom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
  border: 3px solid #f0f1f3;
  border-radius: 5px;
  bottom: 20px;
  display: inline-block;
  height: 54px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 54px;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}
.scrollToTop:hover{
  background-position: 13px -50px;  
  text-decoration: none;
  outline: none;
}

/*--------------------*/
/* HOME HEADER */
/*--------------------*/

#header{
	float: left;
	display: inline;
	width: 100%;
  background-color: #313b3d;	
  position: relative;
}

/*--------.menu_area-------- */
.menu_area{
  float: left;
  display: inline;
  width: 100%;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px; 
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: transparent;
  color: #fff;
}
.navbar-default {
  background-color: #313b3d;
  border-color: transparent;
}
#navbar{overflow-x: hidden;}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  padding: 30px 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #48575a; 
}
.navbar-nav > li > .dropdown-menu:before { 
  border-bottom: 15px solid #48575a; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 25px;
  top: -15px;
  width: 0;
}
.navbar-nav > li > .dropdown-menu li a {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  color: #fff;
  display: block;  
  opacity: 0.8;
  padding: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-nav > li > .dropdown-menu > li:last-child a {
  border-bottom: medium none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color:transparent;  
  text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;  
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}


/*--------------------*/
/* start learning section */
/*--------------------*/

#whyUs{
  float: left;
  display: inline;
  width: 100%;
}
.whyus_top{
  float: left;
  display: inline;
  width: 100%;
  background-color:cloud;
  padding: 60px 0px;  
}
.single_whyus_top{
  float: left;  
  display: inline;  
  width: 100%;
  text-align: center;
}
.title_area{
  float: left;  
  display: inline;  
  width: 100%; 
  text-align: center;
  margin-bottom: 40px;  
}
.title_area span{
  display: inline-block;  
  text-align: center; 
  height: 5px;    
  width: 50px;
}
.title_two {
  padding-bottom: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.whyus_icon{
  border-radius: 150px;
  color: #ffffff;
  display: inline-block;
  height: 150px;  
  text-align: center;
  width: 150px;
}
.whyus_icon span{
  display: inline-block;
  font-size: 70px;
  height: 100%;
  line-height: 160px;
  width: 100%;
  -webkit-transition:   all 0.5s;
  -o-transition:  all 0.5s;
  transition:   all 0.5s;
  float:left;
  clear:none;
}
.single_whyus_top:hover .whyus_icon span{
  transform:scale(0.9);
}
.single_whyus_top>h3{
  font-size: 18px;
  font-weight: bold;
}
.single_whyus_top>p{
  font-size: 13px;
}
.whyus_bottom{
  float: left;
  display: inline;
  width: 100%;
  min-height: 350px;
  padding: 85px 0px;
  background-image: url(img/skills_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;  
}
.slider_overlay {
  background: none repeat scroll 0 0 #242434;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.skills{
  position: relative;
  z-index: 999;
}

.heading h3 {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 40px;
  margin: 0 0 40px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
}
div[data-dimension] {
  float: none;
  margin: 0 auto;
}
.circle-text{
  color: #fff;
}
.single_skill{
  float: left;
  display: block;
  width: 100%;
  text-align: center;
}
.single_skill > h4 {
  color: #ffffff;
  font-size: 20px;  
}





/*--------------------*/
/* FOOTER SECTION */
/*--------------------*/

#footer{
  float: left;
  display: inline;
  width: 100%;
  margin-bottom:0px;
}
.footer_top{
  float: left;
  display: inline;
  width: 100%;
  background-color: #1e2223;
  padding: 60px 0px;
}
.single_footer_widget {
  display: inline;
  float: left;
  padding: 0 10px;
  width: 100%;
}
.single_footer_widget > h3 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.single_footer_widget>p{
  color: #fff;
}
.footer_widget_nav li a {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}
.footer_social li a {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 22px;
  padding: 0 10px;
}
.footer_bottom{
  float: left;
  display: inline;
  width: 100%;
  background-color: #f8f8f8;
  padding: 0px 0px;
}
.footer_bootomLeft{
  float: left;
  display: inline;
  width: 100%;
}
.footer_bootomLeft>p,.footer_bootomRight>p{margin-bottom: 0px;}

.footer_bootomRight{
  float: left;
  display: inline;
  width: 100%;
  text-align: right;
}




/*======================///////////////
			start responsive style
=====================///////////////////////*/

